img{ 
    height: 300px;
    box-shadow: 1px 1px 10px 10px rgba(146, 145, 145, 0.418);
    margin-top: 20px;

}
#main{
    background-color: rgba(169, 182, 195, 0.582);
    padding-top: 5px;
    padding-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;
    position: relative;
    box-shadow: 1px 1px 10px 12px rgba(228, 226, 226, 0.473);

    border-radius: 30px;
}

#count{
position: absolute;
left: 380px;
top: 150px;

}